.landing {
    height: 100vh;
    position: relative;
    &:before, &:after {
        content: '';
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $black-blue;
    }
    &:after {
        left: 50%;
        background-color: $black;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        h1 {
            color: $brand-blue;
        }
        h2 {
            color: $white;
        }
    }
}

.scroll-mouse {

}