// Custom grid
$container-max-width: 1366px;
$gutter: 30px;

// Colours
$black: #000;
$white: #fff;
$brand-blue: #67fff2;
$black-blue: #10131a;

// Font related  
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 500;

$heading-font-family: 'Poppins', sans-serif;
$heading-font-weight: $font-weight-semi-bold;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;