.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
} 

.section {
    display: block;
    padding: $gutter * 2 $gutter;
    overflow: hidden;
    h1, h2 {
        margin-top: 0;
    }
}