.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all .4s;
    &.active {
        transform: translateX(-60%);
    }
    &__logo {
        position: absolute;
        left: 0;
        top: 0;
        margin: $gutter;
        overflow: hidden;
        a {
            color: $white;
            font-family: $heading-font-family;
            font-size: $h5-font-size;
            text-decoration: none;
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 2px;
                background-color: $white;
                left: 0;
                top: 52%;
                transform: translateX(-100%) translateY(-50%);
                transition: all 0.3s;
            }
            &:hover {
                &:after {
                    transform: translateX(0) translateY(-50%);
                }
            }
        }
    }
    &__nav-toggle {
        @media (min-width: $screen-sm) {
            display: none;
        }
        .burger {
            cursor: pointer;
            position: absolute;
            right: $gutter;
            top: $gutter;
            width: 35px;
            margin-top: 9px;
            color: $white;
            font-size: 12px;
            font-family: $heading-font-family;
            line-height: 1;
            text-align: center;
            z-index: 10;
            &:after,
            &:before {
                content: '';
                height: 3px;
                width: 100%;
                background-color: $white;
                top: -6px;
                left: 0;
                position: absolute;
            }
            &:after {
                bottom: -6px;
                top: auto;
            }
        }
    }
    &__nav {
        position: fixed;
        right: 0;
        top: 0;
        padding-top: $gutter / 2;
        transform: translateX(100%);
        @media (min-width: $screen-sm) {
            margin: $gutter;
            padding: 0;
            transform: none;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            @media (min-width: $screen-sm) {
                display: block;
                transform: none;
                opacity: 1;
            }
            li {
                overflow: hidden;
                padding: $gutter / 2 $gutter;
                @media (min-width: $screen-sm) {
                    display: inline-block;
                    margin-right: $gutter / 4;
                    margin-left: $gutter / 4;
                    padding: 0;
                }
                a {
                    text-decoration: none;
                    position: relative;
                    line-height: 1;
                    font-family: $heading-font-family;
                    font-size: $h5-font-size;
                    color: $black-blue;
                    @media (min-width: $screen-sm) {
                        color: $white;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        height: 2px;
                        background-color: $white;
                        left: 0;
                        top: 52%;
                        transform: translateX(-101%) translateY(-50%);
                        transition: all 0.3s;
                    }
                    &:hover {
                        &:after {
                            transform: translateX(0) translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}

.content-wrap {
    transition: all .4s;
    &.nav-active {
        transform: translateX(-60%);
        @media (min-width: $screen-sm) {
            transform: none;
        }
    }
}